/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Muli.ttf');
}

:root {
  --ion-font-family:  'Muli'!important;
}

h1 {
  font-weight: bolder;
}

p {
  color: rgb(102, 102, 102);
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.loading-class {
  border-radius: 4px;
  --background: var( --ion-color-primary ) !important;
  --spinner-color: #fff;

  color: #fff;
}

.btn-lg-primary {
  height: 48px;
  --border-radius: 15px !important;
}

.btn-lg-medium {
  height: 48px;
  --border-radius: 15px !important;
  --background: rgba(36, 0, 70, .1) !important;
  --color: rgb(26, 26, 26);
}

.action-sheet-group:not(.select-alert) {
  --background: var( --ion-color-primary ) !important;

  button {
    color: white !important;
  }
}
