.not-projects {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color:#858686 ;
    text-align: center;
}

.delete {
    background-color: rgb(204, 6, 6);
}

.actions {
    background-color: #3f51b5;
}

#icon-button {
    font-size: 22px;
    color: white;
}
