
ul li {
    list-style: none;
}

.button-setting {
    margin-left: -15px;
}

.logo {
    margin-left: 20px;
    width: 2.5rem;
    
}

ion-icon {
    font-size: 18px;
    color: #3f51b5;
    margin-right: 10px;
}
